@import "styles/variaveis";
@import "styles/breakpoints";

.container {
    text-align: center;
    min-height: 100vh;

    h1 {
        color: $gold;
        font-size: calc(10px + 3vmin);
    }
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}