@import "styles/variaveis";
@import "styles/breakpoints";

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding: 20px;
}

.title {
    color: $text;
    font-size: calc(8px + 5vmin);
    text-align: center;
    width: 100%;
    padding: 15px;
    background-color: $paralel;

    &__clean {
        color: $primary;
        font-size: calc(8px + 5vmin);
        text-align: center;
    }
}

.treinos {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.exercicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}